---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { getApiSpecification } from "../../utils/api";

const manualEntries = await getCollection(
  "manual",
  ({ id }) => id.startsWith("guide") && id.endsWith("mdx")
);

const firstManualEntry = manualEntries[0];

const firstApiSectionTitle = (await getApiSpecification()).sectionTitles[0];
---

<Layout title="Docs">
  <header>
    <h1 class="text-4xl font-bold mb-10">Docs</h1>
  </header>
  <section class="prose mb-20">
    <h2 class="text-3xl mb-10">Users</h2>
    <div class="pl-4 border-l-4 border-blue-400">
      <h3 class="text-2xl mt-6">
        <a href={`/docs/legacy/manual/${firstManualEntry.slug}`}>
          User Manual 4.3.2
        </a>
      </h3>
      <p>For the standalone version of Virtool.</p>
    </div>
  </section>
  <section class="prose">
    <h2 class="text-3xl mb-10">Developers</h2>
    <div class="divide-y-2 pl-4">
      <div>
        <h3>
          <a href={`/docs/legacy/api/account`}> API Documentation 4.3.2</a>
        </h3>
        <p>For the standalone version of Virtool.</p>
      </div>
      <div>
        <h3>
          <a href={`/docs/api/${firstApiSectionTitle}`}>
            API Documentation 19.0.0
          </a>
        </h3>
        <p>For the preview cloud-native version of Virtool.</p>
      </div>
      <div>
        <h3>
          <a href="https://ui.virtool.ca"
            >React Components <i class="fas fa-external-link"></i></a
          >
        </h3>
        <p>A Storybook of React components used in Virtool.</p>
      </div>
      <div>
        <h3>
          <a href="https://workflow.virtool.ca"
            >Workflow Framework <i class="fas fa-external-link"></i></a
          >
        </h3>
        <p>
          Documentation for Virtool's <a
            href="https://github.com/virtool/virtool-workflow"
            >workflow framework</a
          >.
        </p>
        <p>
          This is targeted at project contributors. Custom workflows are not
          currently supported by Virtool
        </p>
      </div>
    </div>
  </section>
</Layout>
