---
const { method, path } = Astro.props;
---

<div class="border-2 border-solid border-slate-700">
  {
    method && path && (
      <h3 class="p-4 font-mono">
        {method} {path}
      </h3>
    )
  }
  {
    <slot /> || (
      <div class="bg-stone-200  p-4 font-bold text-slate-700">
        No request body
      </div>
    )
  }
</div>
