---
import { getCollection } from "astro:content";
import LegacyVersion from "../../../../components/LegacyVersion.astro";
import Note from "../../../../components/Note.astro";
import Layout from "../../../../layouts/Layout.astro";
import Menu from "../../../../components/menu/Menu.astro";
import { getMenuSectionFromCollection } from "../../../../utils/menu";
export async function getStaticPaths() {
  const entries = await getCollection("legacy", ({ id }) => {
    return id.endsWith("mdx");
  });

  return entries.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });
}

const entries = await getCollection("legacy", ({ id }) => {
  return id.endsWith("mdx");
});

const section = getMenuSectionFromCollection(
  await getCollection("legacy", ({ id }) => {
    return id.endsWith("mdx");
  }),
  "API"
);

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div class="grid grid-cols-10">
    <div class="col-span-2 self-start sticky top-20">
      <Menu sections={[section]} baseUrl="/docs/legacy/api" />
    </div>
    <div class="col-span-7 prose max-w-4xl">
      <div class="mb-10">
        <Note color="yellow">
          <strong>Legacy API Docs.</strong>
          These docs are for Virtool <LegacyVersion />.
        </Note>
      </div>
      <h1>{entry.data.title}</h1>
      <div class="prose max-w-4xl">
        <Content />
      </div>
    </div>
  </div>
</Layout>
