---
const codes = {
  200: "OK",
  201: "Created",
  204: "No content",
  400: "Bad request",
  401: "Unauthorized",
  403: "Forbidden",
  409: "Conflict",
  422: "Unprocessable Entity",
};

const { code } = Astro.props;

const description = codes[code];

if (!description) {
  return null;
}

const colorClass =
  code > 399
    ? "bg-red-200 text-red-900 py-1 px-1.5 rounded-md"
    : "bg-green-200 text-green-900 py-1 px-1.5 rounded-md";
---

<span class={colorClass}>
  {code}
  {description}
</span>
