---
import ApiGuide from "@components/api/ApiGuide.astro";
import ApiView from "@components/api/ApiView.astro";
import Menu from "@components/menu/Menu.astro";
import Layout from "@layouts/Layout.astro";
import { getApiSpecification, transformTitle } from "@utils/api";
import { getMenuSectionsFromCollection } from "@utils/menu";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const overviewCollection = await getCollection(
    "api",
    ({ id }) => id.endsWith("mdx") || id.endsWith("md")
  );

  const overviewSections = overviewCollection.map((section) => ({
    params: { slug: section.slug },
    props: { section, type: "mdx" },
  }));

  const oas = await getApiSpecification();

  const oasSections = oas.sections.map((section) => ({
    params: {
      slug: section.title.toLowerCase(),
    },
    props: { section, type: "oas" },
  }));

  return [...oasSections, ...overviewSections];
}

const sections = getMenuSectionsFromCollection(
  await getCollection(
    "api",
    ({ id }) => id.endsWith("mdx") || id.endsWith("md")
  )
);

const { sectionTitles } = await getApiSpecification();

sections.push({
  title: "API",
  items: sectionTitles.map((title) => ({
    title: transformTitle(title),
    slug: `${title.toLowerCase()}`,
  })),
});

const { section, type } = Astro.props;
---

<Layout title="API">
  <div class="gap-2 grid grid-cols-12">
    <div class="col-span-2 self-start sticky top-20">
      <Menu sections={sections} baseUrl="/docs/api" />
    </div>
    <div class="col-span-10">
      <div class="divide-y-2 divide-dashed divide-slate-300 mt-10">
        {
          type === "oas" ? (
            <ApiView section={section} />
          ) : (
            <ApiGuide section={section} />
          )
        }
      </div>
    </div>
  </div>
</Layout>
