---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <section class="prose">
    <p>{frontmatter.description}</p>
    <slot />
  </section>
</Layout>
